## Variables

In [3]:
 x= 10

In [4]:
print(x)

10

In [5]:
type(x)

int

In [9]:
x = 10
x
print(id(x))

x = 'arpit'
print(x)
print(id(x))

10

In [10]:
x = 10 
y = 20 
x
print(y)

20

In [11]:
x = 10 
y = 20 
x
y

20

In [12]:
x = 10 
y = 20 
print(x)
y

10

20

#### 4 Rules

* Alphabets can be anywhere
* No Numbers in beginning, elsewhere okay
* No Special characters except `_`
* Case sensitive

## Operators 

* Arithmetic Operators 
* Logical Operators 
* Comparative Operators 
* Identity Operators

In [13]:
10//3

3

In [14]:
10%3

1

In [15]:
10**3

1000

In [20]:
(10<3) or (30>15)

True

In [21]:
(10<3) and (30>15)

False

In [ ]:
s = 'CBRE'

In [ ]:
x in 10

In [22]:
print(1 and 2)

2

In [23]:
print(1 & 2)

0

In [ ]:
(1==1) and (2==2)

In [27]:
x = 1
x is True

False

In [28]:
True + True

2

In [29]:
x = 1
y = '1'

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [30]:
x is y

False

In [31]:
x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Data Types 

* Int
* Float
* String
* Lists 
* Tuples 
* Dictionaries 
* Sets

In [32]:
s= 'CBRE'

In [33]:
s.lower()

'cbre'

In [ ]:
s.find()

In [34]:
### Indexing 

s = 'PYTHON'

## Access H
s[3]

'H'

In [35]:
s[-3]

'H'

In [38]:
## Task 2 - Extract THO

s = 'PYTHON'  
s[2:5].lower()

'tho'

In [39]:
## Task 3 -> YHN

s = 'PYTHON' 

s[1:6:2]

'YHN'

In [40]:
s[1::2]

'YHN'

In [41]:
s = 'PYTHON' 

s[:4:2]

'PT'

In [42]:
s = 'I AM HUNGRY'

s[3::3]

'MUR'

In [43]:
### Backward Slicers 

s = 'PYTHON'

s[-2:-5:-1]

'OHT'

In [44]:
s[-2:-5]

''

In [45]:
s = 'PROGRAMMING'

s[2:-3:-2]

''

In [46]:
s[2:-3:2]

'ORM'

In [47]:
s.find('G')

3

In [49]:
name = 'Arpit Jain'
name.split()

['Arpit', 'Jain']

In [52]:
name = 'Arpit$$Jain'
name.split('$$')

['Arpit', 'Jain']

In [53]:
s = 'PROGRAMMING'

s[2:-11:-2]

'O'

### Lists

In [54]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [55]:
l = [10,20,30,40,50]
print(l)

[10, 20, 30, 40, 50]

In [56]:
len(l)

5

In [57]:
## adding new element 
l = [10,20,30,40,50]

# add 60 
l.append(60)
print(l)

[10, 20, 30, 40, 50, 60]

In [58]:
## multi elements 60,70,80,90,100

l = [10,20,30,40,50]
l.append(60,70,80,90,100)

TypeError: list.append() takes exactly one argument (5 given)

In [59]:
l.append([60,70,80,90,100])
print(l)

[10, 20, 30, 40, 50, [60, 70, 80, 90, 100]]

In [60]:
## extend
l = [10,20,30,40,50]
l.extend([60,70,80,90,100])
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [61]:
## insert something in mid 
l = [10,20,30,40,50]

## add 100 at 3rd location
l.insert(3,100)
print(l)

[10, 20, 30, 100, 40, 50]

In [63]:
### DELETE OBJECT ## index 
l = [10,20,30,40,50]
l.pop()
print(l)

[10, 20, 30, 40]

In [64]:
### DELETE OBJECT ## value 
l = [10,20,30,40,50]
l.remove(30)
print(l)

[10, 20, 40, 50]

In [65]:
l = [10,20,30,30,30,40,50]
l.remove(30)
print(l)

[10, 20, 30, 30, 40, 50]

In [66]:
## Updation 

l = [10,20,30,40,50]

l[2] = 100
print(l)

[10, 20, 100, 40, 50]

In [67]:
## tuples 

t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [68]:
t = (10,20,30,40,50)
t.append(60)

AttributeError: 'tuple' object has no attribute 'append'

In [71]:
t = (10,20,30,30,30,40,50)
t.count(20)

1

### Dictionary

In [72]:
d = {'Maharashtra' : 'Mumbai',
     'Tamil Nadu' : 'Chennai',
     'Rajasthan' : 'Jaipur'}

print(d)
print(type(d))

{'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur'}
<class 'dict'>

In [73]:
d['Maharashtra']

'Mumbai'

In [81]:
d = {'Maharashtra' : 'Mumbai',
     'Tamil Nadu' : 'Chennai',
     'Rajasthan' : 'Jaipur'}

d1 = {'Maharashtra' : 'Mumbai',
      'Rajasthan' : 'Jaipur',
     'Tamil Nadu' : 'Chennai'
     }

In [82]:
d == d1

True

In [83]:
d = {'Maharashtra' : 'Mumbai',
     'Tamil Nadu' : 'Chennai',
     'Rajasthan' : 'Jaipur',
     'Maharashtra' : 'Pune'
    }

In [84]:
print(d)

{'Maharashtra': 'Pune', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur'}

In [88]:
list(d.keys())

['Maharashtra', 'Tamil Nadu', 'Rajasthan']

In [89]:
d.values()

dict_values(['Pune', 'Chennai', 'Jaipur'])

In [90]:
d.items()

dict_items([('Maharashtra', 'Pune'), ('Tamil Nadu', 'Chennai'), ('Rajasthan', 'Jaipur')])

## Loops

In [91]:
l = [10,20,30,40,50]

## M1 -> accesing the elements directly 

for i in l:
    print(i)

10
20
30
40
50

In [ ]:
## M2 -> access the element using index

In [93]:
for i in range(0,5):
    print(l[i])

10
20
30
40
50

In [94]:
for i in range(0,len(l)):
    print(l[i])

10
20
30
40
50

In [96]:
## If else 

x = 10

if x >20:
    print('ok')
else:
    print('not ok')

not ok

In [97]:
x = 10

if (x >20):
    print('ok')
elif x>15:
    print('still ok')
else:
    print('not ok')

not ok

In [98]:
## for if combine 

l = [10,20,30,40,50]

for i in l:
    if i > 25:
        print(i)

30
40
50

In [99]:
l = [10,20,30,40,50]
op = []

for i in l:
    if i > 25:
        op.append(i)
        
op

[30, 40, 50]

In [102]:
l = [10,20,30,40,50]
op = []

for i in l:
    if i > 25:
        op.append(i)
        
op

30
40
50

[30, 40, 50]

## while loop

In [103]:
n = 5

while n >1:
    print(n)
    n = n-1

5
4
3
2

In [104]:
n = 5

while n >=0:
    n = n-2
    print(n)

3
1
-1

In [ ]:
## Loop control statements 
# break
# continue
# pass

In [105]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    if i == 50:
        break
    print(i)

10
20
30
40

In [106]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    if i == 50:
        continue
    print(i)

10
20
30
40
60
70
80
90
100

In [107]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    if i == 50:
        pass
    print(i)

10
20
30
40
50
60
70
80
90
100

## Functions 

* In built
* UDF
* Lambda

In [110]:
int(input('Enter your number:'))

Enter your number:10

10

In [111]:
## C1 - print 

def sum_2_num():
    x = int(input('Enter your 1st number:'))
    y = int(input('Enter your 2nd number:'))
    z = x+y
    print(z)

In [114]:
op = sum_2_num()

Enter your 1st number:10
Enter your 2nd number:20
30

In [115]:
print(op)

None

In [116]:
## c2 - return

def sum_2_num_ret():
    x = int(input('Enter your 1st number:'))
    y = int(input('Enter your 2nd number:'))
    z = x+y
    return z

In [117]:
op = sum_2_num_ret()

Enter your 1st number:10
Enter your 2nd number:20

In [119]:
op*100

3000

In [120]:
## Arguments 

def sum_2_num_args(x,y):
    z = x+y
    print(z)

In [121]:
sum_2_num_args()

TypeError: sum_2_num_args() missing 2 required positional arguments: 'x' and 'y'

In [122]:
sum_2_num_args(10,20)

30

In [128]:
## Default Arguments 

def sum_2_num_args_def(x,y=[10,20,30]):
    z = x+y
    print(z)

In [125]:
sum_2_num_args_def()

TypeError: sum_2_num_args_def() missing 1 required positional argument: 'x'

In [129]:
sum_2_num_args_def(20)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [127]:
sum_2_num_args_def(20,200)

220

## Lambda

In [130]:
# syntax : lambda comma arguments:code 

f = lambda x,y:x+y
f(10,20)

30

In [131]:
x = 10

# if x >10:
#     print('ok')
# else:
#     print('not ok')
    
#comprehension > A1 If else A2

'ok' if x >10 else 'not ok'

'not ok'

## Modules (Libraries) 

* Numpy
* Pandas 
* SciPy
* Etc..