# Case study
1. Card usage has been improved significanlty from last year usage which is 50. (Hint: comparing card usage of post campaign of 1 month with last year hypothesized value 50)
2. The last campaign was successful in terms usage of credit card. (Hint comparning means for card usage of pre and post usage of campaign).

3. Is there any difference between segments of customers in terms of credit card usage? (Hint: Comparning means of card usage of different segment customers)
4. Is there any relation between region and segment? (Hint: Finding the relationship between categorical variables and Segment)
5. Is the relationship between card usage in the latest month and pre usage of campaign? (Hint: find the correlation between latest_mon_usage and pre_usage)

### Stats modules used in the notebook

    1. ttest_1samp - One Sample t-test - Argument: Sample 1, hypothetical value
    2. ttest_rel - Paired sample t-test - Argument: Sample 1, Sample 2
    3. f_oneway - ANOVA/ F-test - Argument: Smaple 1, Sample 2, sample 3
    4. chi2_contingency - chisquare test - Argument - cross tab
    5. stats.pearsonr - Correlation test - Argument - sample 1 and sample 2

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import scipy.stats as stats
import math
%matplotlib inline

In [2]:
cust = pd.read_csv("cust_seg.csv")
cust.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [3]:
cust.columns

Index(['custid', 'sex', 'AqChannel', 'region', 'Marital_status', 'segment',
       'pre_usage', 'Post_usage_1month', 'Latest_mon_usage',
       'post_usage_2ndmonth'],
      dtype='object')

In [4]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
custid                 200 non-null int64
sex                    200 non-null int64
AqChannel              200 non-null int64
region                 200 non-null int64
Marital_status         200 non-null int64
segment                200 non-null int64
pre_usage              200 non-null int64
Post_usage_1month      200 non-null int64
Latest_mon_usage       200 non-null float64
post_usage_2ndmonth    200 non-null float64
dtypes: float64(2), int64(8)
memory usage: 15.8 KB

In [5]:
cust.describe()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,52.775000,63.174000,58.052500
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,9.478586,11.242137,10.426445
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,31.000000,39.600000,34.100000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,45.750000,54.000000,50.325000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,54.000000,62.400000,59.400000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,60.000000,70.800000,66.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,67.000000,90.000000,73.700000

In [6]:
cust.Latest_mon_usage.mean()

63.17400000000001

In [7]:
cust.Latest_mon_usage.std()

11.242137352892753

#### 1. Card usage has been improved from last year usage which was 50

One sample t-test

H0 (Null hypothesis) Sample_avg = 50

Ha (ALT hypothesis) Sample_avg > 50

If this is P < 0.05 and Sample_avg > 50 satisfied we can reject the NULL hypothesis. 
 else we fail to reject the NULL hypothesis.

### One Sample T-Test

Since we want to check the last month usage the variable we want to check is the last month usage.

In [8]:
stats.ttest_1samp(a = cust.Latest_mon_usage, popmean = 50) # pop mean is the hypothetical value

Ttest_1sampResult(statistic=16.57233752433133, pvalue=2.4963719280931583e-39)

In [9]:
cust.Latest_mon_usage.mean()

63.17400000000001

Since the p value is very small we reject the NULL hypothesis. 

Hence we fail to reject the NULL hypotheiss and accept the ALT hypothesis

#### 2. The last campaign was successful in terms of credit card.

We can compare pre_usage and post_usage of the credit card - Paired sample t-test(dependent sample t-test)

H0 (NULL hypothesis) Pre_avg = post_avg
Ha (ALT hypothesis) pre_avg < post_avg

if p < 0.05 and pre_avg < post_avg, you will reject null

### Two Sample T-Test(Paired)

In [10]:
print(cust.pre_usage.mean())
print(cust.Post_usage_1month.mean())
print(cust.post_usage_2ndmonth.mean())

52.23
52.775
58.05250000000003

In [11]:
stats.ttest_rel(a = cust.pre_usage, b = cust.Post_usage_1month)

Ttest_relResult(statistic=-0.8673065458794775, pvalue=0.3868186820914985)

Since the pvalue is not less than 0.05 we fail to reject the Null Hypothesis. Hence the campaign was successful

3. Is there any differce in credit card spend usage between males and females?

**since there are only two categories we can do independent sample t test here.** 

Comparing two sample averages (both are independent samples)

H0: males_avg = females_avg

Ha: males_avg <> females_avg

if p<0.05, then we reject NULL (there is a relationship between sex and spend)

else, you fail to reject the NULL (There is no relationship between sex and spend)

#### 3. Is there any difference in credit card spend between segments?

ANOVA- Ftest

H0 : S1_avg = S2_avg = S3_avg 

Ha: One of the segment avg is different from others.

if p < 0.05, then we reject NULL ,  if p<0.05, there is relationship between segment and spend.

else, you can not reject NULL.

### ANOVA Test

In [18]:
cust.segment.value_counts()

2    105
3     50
1     45
Name: segment, dtype: int64

In [19]:
s1 = cust.Latest_mon_usage[cust.segment == 1]
s2 = cust.Latest_mon_usage[cust.segment == 2]
s3 = cust.Latest_mon_usage[cust.segment == 3]

# perform ANOVA test
stats.f_oneway(s1, s2, s3)

F_onewayResult(statistic=29.279283801321778, pvalue=7.36401083352674e-12)

Pvalue is less than 0.05. Hence, we can reject the NULL hypothesis which means there is a significant difference between the average of the segments.

If fvalue is high that means the segments are different and when the segments are different that means there is a relationship between the variables

In [20]:
print(s1.mean(), s2.mean(), s3.mean() )

60.026666666666685 68.08000000000003 55.703999999999986

#### 4. Is there any relationship between region and segment? 

Chi Square test

H0 : There is no relationship

Ha : There is relationship 

if p < 0.05 , then we reject NULL, 

else, we fail to reject NULL Hypothesis.

### ChiSquare Test

In [21]:
t = pd.crosstab(cust.segment, cust.region, margins = True)
t
# actual distribution between segment and region

region    1   2   3  All
segment
1        16  20   9   45
2        19  44  42  105
3        12  31   7   50
All      47  95  58  200

In [22]:
stats.chi2_contingency(observed = t)

(16.60444164948934,
 0.055282939487992365,
 9,
 array([[ 10.575,  21.375,  13.05 ,  45.   ],
        [ 24.675,  49.875,  30.45 , 105.   ],
        [ 11.75 ,  23.75 ,  14.5  ,  50.   ],
        [ 47.   ,  95.   ,  58.   , 200.   ]]))

Based on the p value we can say there is a relationship between region and segment.

#### 5. Is there any relationship between card_usage_before and latest_month_usage.

Correlation

H0 : There is no relationship

Ha : There is relationship 

if p < 0.05 , then we reject NULL, There is relationship between latest month spend and pre usage

else, we fail to reject NULL Hypothesis.

### Correlation

In [23]:
print(np.corrcoef(cust.Latest_mon_usage, cust.Post_usage_1month))

[[1.         0.61744926]
 [0.61744926 1.        ]]

In [24]:
print(stats.stats.pearsonr(cust.Latest_mon_usage, cust.Post_usage_1month))

(0.6174492644854919, 2.0866647416871924e-22)

Since pval is less than 0.05 we reject the NULL hypothesis. 
Hence, there is a relationship. Moreover, Correlation talks about the linear relationship between the variables. That means if one is changing the other is also changing.

### Note:

if the correlation is equal to zero, that doesn't mean there is no relationship between the variables however that means there is no linear relationship between the variables; they may have a non linear relationship

I hope this helps in building the fundamental knowledge in performing the Hypothesis. If you liked this post please do not forget to upvote! :)